<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDjhNQdNcE3HlThY6wDyjNnmocrJu0r4yY</string>
	<key>GCM_SENDER_ID</key>
	<string>843412077013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.musicsocial.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>musicsocial-90b82</string>
	<key>STORAGE_BUCKET</key>
	<string>musicsocial-90b82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843412077013:ios:0ed8fbb60795592ca5a55c</string>
</dict>
</plist>